Recursion/.vs/
Recursion/Recursion.VC.db
Recursion/Recursion.sln
SortingAlgorithms/.vs/
SortingAlgorithms/SortingAlgorithms.VC.VC.opendb
SortingAlgorithms/SortingAlgorithms.VC.db
SortingAlgorithms/SortingAlgorithms/Debug/vc141.idb
SortingAlgorithms/SortingAlgorithms/Debug/vc141.pdb
Trees/Trees.opensdf
ComparingSortAlgorithms/ComparingSortAlgorithms.opensdf
/AVLTree/nbproject/private/
Trees/Trees.VC.VC.opendb
/157116-RicardoZ-parcial3TipoA/nbproject/private/
/157116-RicardoZ-parcial3TipoA/build/